{% extends "layout.html" %}
{% block title %}ACHAT{% endblock %}
<script>
    function validateForm() {
        var form = document.getElementById("UserForm2");
        if (form.checkValidity()) {
            return true;
        } else {
            alert("Please fill out all the required fields.");
            return false;
        }
    }
</script>
{% block content %}

<div class =" text-center">
    <h2>Well {{name}} it's seems like today is your day !</h2>
    <p>You are about to start your new life as a member of our great community</p>
    <p>This is the last step before you'll be sent our Hamster Salon package</p>
    <p>The package will be sent to the following adress : {{address}}</p>
    <p>And an E-mail will be sent to you via this email : {{email}}</p>  
</div>
<form id ="UserForm2" method="POST" onsubmit="return validateForm();">
    <div class="col-md-6 offset-md-3">
        <label for="name"><i class="fas fa-user"></i> credit card infomations:</label>
        <input type="int" class="form-control" id="num_card" name="num_card" placeholder="Enter your credit card number (no '-')" maxlength="16" required>
        <input type="int" class="form-control" id="date" name="date" placeholder="Enter your credit card's expiration date (YYMM)" maxlength="4" required>
        <input type="int" class="form-control" id="CVC" name="CVC" placeholder="Enter your CVC security number" maxlength="3" required>
    </div>
    <br>   
    <div class = "text-center">
        <button type="submit" action="######"class="btn btn-info">Pay !</button>                
    </div>
</form>
<!-- les clients sont forcés de payer une fois sur cette page :) -->

{% endblock %}